---
layout: default
heading: "Unifying Visual SLAM: From Fragmented Datasets to Scalable, Real-World Solutions"
subheading: "Workshop at Robotics: Science and Systems 2025, Los Angeles, California, USA"
subheading2: "Saturday, June 21, <a href='https://maps.app.goo.gl/fGJkDJ857u6zEbDs7' target='_blank'>Ronald Tutor Hall (RTH) Room 526</a>"
image: "http://placehold.it/800x500"
---

{% include header.html %}

<div class="container">
  {% include features.html %}
  {% include footer.html %}
</div>
